html:not([data-sap-ui-animation='off']) .KIS .sapTntToolPageMain {
	transition: none;
	-webkit-transform: none;
}

.KIS .sapTntToolPageMain {
	transition: none;
	-webkit-transform: none;
}

.KIS .sapTntToolPageHeader .sapMBtnInner {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.KIS .sapTntToolPageHeader button.active span {
	font-weight: bold;
}
.sapTntToolHeaderPopover button.active span {
	font-weight: bold;
}

.KIS .kis-section-header {
	background-color: #fafafa;
	border-bottom: 2px solid gray;
	height: 42px;
}
.KIS .kis-section-header span.kis-section-header-title {
	font-weight: bold;
	line-height: 38px;
	margin-left: 16px;
}
.KIS .kis-section-header button {
	padding: 0px;
	height: initial;
}

.KIS .sapMNav {
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	top: 42px;
	height: initial;
}